<%- include ("header") -%>
<div class ="box" id="heading">

    <h1>It's a <%= listTitle %></h1>

</div>

<div class ="box">

    <% for (var i=0; i<newListitems.length;i++){%>
<div class=""item>
    <input type="checkbox">
    <p><%= newListitems[i]%> </p>
</div>
        
        
   <% } %>
   <form class="" actions="/" method="post">

    <input type="text" name="newItem" placeholder="New Item">
    <button type="submit" name="list"value ="<%= listTitle  %>">+</button>
    
    
    
    </form>

</div>


    <body>




        <%- include ("footer") -%>




